/*

    main designs thumbnails

*/


.design-content {
    padding: 50px 65px 10px 65px;
    display: table;
}

/*

    title

*/
.design-title {
    padding-top:90px;
    margin: 0 auto;
    color: black;
    position: relative;

}

.design-title h1 {
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-border {
    border: 1px solid #66aa2d;
    width: 400px;
    margin: 0 auto;
    bottom: 8px;
    position: relative;
}

.design-title p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: gray;
    top: 90%;
    position: relative;
}


.bigdesign-title {
   
    padding-left:30px;
}
.bigdesign-title h1{
    font-size: 20px;
}

/*

    To collapse the main design

*/
.block {
    position: relative;
    transition: 0.5s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}
.block:hover {
    box-shadow: 0px 3px 6px 3px #A2D17F;
}
.design{
    float:left;
    padding: 10px 20px 20px 20px;
    padding-bottom: 60px;
}
.design a:hover{
    color: #66aa2d;
}
.design-name {
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: inline;
}
.product-name {
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.design-top{
    padding-bottom: 10px;
}
/*

    view full screen button

*/
.full-design {
    float:right;
    display: inline;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.full-design a{
    text-decoration: none;
}

.full-design:hover{
    color: #66aa2d;
}

/*

    design page 

*/
.big-design img {
    width: 99%;
    display: block;
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*

    prev & next button on design page

*/
.prev{
    position: absolute;
    top: 8%;
    transition: 0.2s;
    left: 94%;
}
.prev:hover{
    left: 93.5%;
}
.next {
    position: absolute;
    transition: 0.2s;
    top: 8%;
    left: 97%;
}
.next:hover{
    left:97.5%;
}



 



